/*
	Name: simplesG for Pelican
	Date: September 2024
	Description: A very simple theme for the Pelican static site generator.
	Version: 1.0
	License: The Unlicense <https://unlicense.org>
	Original author: G Bastet <https://gbastet.com/>
*/


